<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <br>
    <%= format_content(blog) %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= blog.secret? %>
  </p>

  <% if user_signed_in? %>
    <div id="liking-app" data-liking-users-path="<%= api_blog_liking_users_path(blog) %>" data-create-path="<%= api_blog_likings_path(blog) %>"></div>
  <% end %>

</div>
