<div class="blog-post">
  <h2 class="blog-post-title"><%= blog.title %></h2>
  <div class="col-xs-12 col-md-4">
    <p class="blog-post-meta"><%= l blog.created_at %> by <%= blog.user.nickname %></p>
    <% if blog.secret? %>
      <div class="alert alert-warning" role="alert">
        このブログは書いた本人しか見えない秘密のブログです。
      </div>
    <% end %>
    <% if blog.random_eyecatch? %>
      <div class="blog-eyecatch">
        <img class="resize" src="https://picsum.photos/536/354">
      </div>
    <% end %>
    <div class="blog-content">
      <%= format_content(blog) %>
    </div>
    <% if user_signed_in? && !blog.secret? %>
      <% liking_users_path = api_blog_liking_users_path(blog, format: :json) %>
      <% create_path = api_blog_likings_path(blog, format: :json) %>
      <div id="liking-app" data-liking-users-path="<%= liking_users_path %>" data-create-path="<%= create_path %>"></div>
    <% end %>
    <hr>
  </div>
</div>
