<div class="blog-post">
  <h2 class="blog-post-title"><%= blog.title %></h2>
  <div class="col-xs-12 col-md-4">
  <p class="blog-post-meta"><%= l blog.created_at %> by <%= blog.user.nickname %></p>
    <% if blog.secret? %>
      <div class="alert alert-warning" role="alert">
        このブログは書いた本人しか見えない秘密のブログです。
      </div>
    <% end %>
    <p>
      <%= format_content(blog) %>
    </p>
    <% if user_signed_in? %>
      <div id="liking-app" data-liking-users-path="<%= api_blog_liking_users_path(blog) %>" data-create-path="<%= api_blog_likings_path(blog) %>"></div>
    <% end %>
    <hr>
  </div>
</div>
