<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label>
      <%= form.check_box :secret %>
      <%=  Blog.human_attribute_name :secret %>
    </label>
  </div>

  <% if current_user.premium? %>
    <div class="mb-3">
      <label>
        <%= form.check_box :random_eyecatch %>
        <%=  Blog.human_attribute_name :random_eyecatch %>
      </label>
    </div>
  <% else %>
    <p>💡Premiumユーザーになると素敵なアイキャッチ画像をランダムに挿入できます！</p>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
