<h1>Blogs</h1>

<div class="col-xs-12 col-md-4">
  <%= form_with url: blogs_path, method: :get, class: "form-inline" do %>
    <div class="input-group mb-3">
      <%= search_field_tag :term, params[:term], class: "form-control", id: :term, placeholder: "Search Blogs" %>
      <%= button_tag class: "btn btn-outline-secondary btn-blog-search" do %>
        <i class="bi bi-search form-control-feedback"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div id="blogs" class="col-xs-12 col-md-4">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
    </tr>
    </thead>
    <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, blog %></td>
        <td><%= blog.user.nickname %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New blog", new_blog_path %>
